.background {
  z-index: -100;
}

.background1 {
  position: absolute;
  right: 0;
  top: -6rem;
  width: 45rem;
}
.background2 {
  position: absolute;
  right: left;
  top: -4rem;
  width: 7rem;
}
.background3 {
  position: absolute;
  right: 0;
  bottom: -4rem;
  width: 7rem;
}

.background4 {
  position: absolute;
  right: left;
  bottom: -4rem;
  width: 7rem;
}
.background6 {
  position: absolute;
  right: 0;
  bottom: 40%;
  width: 7rem;
}